<% for(var i=0; i < users.length; i++) { %>
    <tr>
        <td>
            <%= i + 1 %>
        </td>
        <td>
            <%= users[i].name %>
        </td>
        <td>
            <%= users[i].roll %>
        </td>
        <td>
            <%= users[i].enroll %>
        </td>
        <!-- <td><%= users[i].course %></td> -->
        <!-- <td><%= users[i].status %></td> -->
        <td>
            <a href="/add-marks?id=<%= users[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a href="/view-marks?id=<%= users[i]._id%>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-eye"></i></span>
            </a>
            <!-- <a class="btn border-shadow delete" data-id=<%=users[i]._id%> >
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a> -->
        </td>
    </tr>
    <% } %>